In [1]:
import numpy as np

import pandas as pd

from datetime import datetime as dt

import itertools

In [2]:
# Read data from the CSV into a dataframe

loc = "./Premier-League/"

years = range(2001, 2022)  # Anos de 2000 a 2021
datasets = []

for year in years:
    file_name = f"{loc}{year}.csv"
    dataset = pd.read_csv(file_name)
    datasets.append(dataset)

print("Todos os Datasets Foram lidos.")

Todos os Datasets Foram lidos.

In [3]:
datasets[0].columns

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Attendance', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HHW',
       'AHW', 'HC', 'AC', 'HF', 'AF', 'HO', 'AO', 'HY', 'AY', 'HR', 'AR'],
      dtype='object')

In [4]:
# Parse data as time 
def parse_date(date):
    if date == '':
        return None
    else:
        if len(date) != 8:
            date_format = '%d/%m/%Y'
        else:
            date_format = '%d/%m/%y'
        return dt.strptime(date, date_format)

    
for i, dataset in enumerate(datasets):
    datasets[i].Date = dataset.Date.apply(parse_date)

print("Datas tipadas Corretamente.")

Datas tipadas Corretamente.

In [5]:
# Gets the goals scored agg arranged by teams and matchweek
def get_goals_scored(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam'):
        teams[i[0]] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        HTGS = playing_stat.iloc[i]['FTHG']
        ATGS = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGS)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGS)
    
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    GoalsScored = pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T
    GoalsScored[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,39):
        GoalsScored[i] = GoalsScored[i] + GoalsScored[i-1]
    return GoalsScored



# Gets the goals conceded agg arranged by teams and matchweek
def get_goals_conceded(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam'):
        teams[i[0]] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        ATGC = playing_stat.iloc[i]['FTHG']
        HTGC = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGC)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGC)
    
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    GoalsConceded = pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T
    GoalsConceded[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,39):
        GoalsConceded[i] = GoalsConceded[i] + GoalsConceded[i-1]
    return GoalsConceded

def get_gss(playing_stat):
    GC = get_goals_conceded(playing_stat)
    GS = get_goals_scored(playing_stat)
   
    j = 0
    HTGS = []
    ATGS = []
    HTGC = []
    ATGC = []
    
    counting = pd.DataFrame(columns = ["Team", "Counting"])
    counting.Team = playing_stat.HomeTeam.sort_values().unique()
    counting.Counting = 0

    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        
        #display(counting.loc[(counting.Team == ht) |  (counting.Team == at)])
        #print(GS.loc[ht][counting.loc[counting.Team == ht, "Counting"].values[0]])
        #print(GS.loc[at][counting.loc[counting.Team == at, "Counting"].values[0]])
        HTGS.append(GS.loc[ht][counting.loc[counting.Team == ht, "Counting"].values[0]])
        ATGS.append(GS.loc[at][counting.loc[counting.Team == at, "Counting"].values[0]])
        HTGC.append(GC.loc[ht][counting.loc[counting.Team == ht, "Counting"].values[0]])
        ATGC.append(GC.loc[at][counting.loc[counting.Team == at, "Counting"].values[0]])
        
        counting.loc[counting.Team == ht, "Counting"] += 1
        counting.loc[counting.Team == at, "Counting"] += 1
        if ((i + 1)% 10) == 0:
            j = j + 1
    # HTGS -> Home Team Gols Scored
    # ATGC -> Away Team Gols Conceded
    #print(HTGC)
    playing_stat['HTGS'] = HTGS
    playing_stat['ATGS'] = ATGS
    playing_stat['HTGC'] = HTGC
    playing_stat['ATGC'] = ATGC
    print(playing_stat.Date.iloc[-1].year, " OK!")
    return playing_stat

for i, dataset in enumerate(datasets):
    datasets[i] = get_gss(dataset)

print("Finalizou.")

2001  OK!
2002  OK!
2003  OK!
2004  OK!
2005  OK!
2006  OK!
2007  OK!
2008  OK!
2009  OK!
2010  OK!
2011  OK!
2012  OK!
2013  OK!
2014  OK!
2015  OK!
2016  OK!
2017  OK!
2018  OK!
2019  OK!
2020  OK!
2021  OK!
Finalizou.

In [6]:
datasets[1].loc[:38, ["Date","HomeTeam", "AwayTeam","FTHG", "FTAG", "HTGS", "ATGS", "HTGC","ATGC"]].sort_values(by="Date")
# APARANTEMENTE TUDO OK

,Date,HomeTeam,AwayTeam,FTHG,FTAG,HTGS,ATGS,HTGC,ATGC
0,2001-08-18,Charlton,Everton,1,2,0,0,0,0
1,2001-08-18,Derby,Blackburn,2,1,0,0,0,0
2,2001-08-18,Leeds,Southampton,2,0,0,0,0,0
3,2001-08-18,Leicester,Bolton,0,5,0,0,0,0
4,2001-08-18,Liverpool,West Ham,2,1,0,0,0,0
5,2001-08-18,Middlesbrough,Arsenal,0,4,0,0,0,0
6,2001-08-18,Sunderland,Ipswich,1,0,0,0,0,0
7,2001-08-18,Tottenham,Aston Villa,0,0,0,0,0,0
9,2001-08-19,Man United,Fulham,3,2,0,0,0,0
8,2001-08-19,Chelsea,Newcastle,1,1,0,0,0,0
10,2001-08-20,Everton,Tottenham,1,1,2,0,1,0
11,2001-08-21,Arsenal,Leeds,1,2,4,2,0,0
12,2001-08-21,Bolton,Middlesbrough,1,0,5,0,0,4
13,2001-08-21,Ipswich,Derby,3,1,0,2,1,1
14,2001-08-22,Blackburn,Man United,2,2,1,3,2,2
15,2001-08-22,Fulham,Sunderland,2,0,2,1,3,0
21,2001-08-25,Southampton,Chelsea,0,2,0,1,2,1
22,2001-08-25,West Ham,Leeds,0,0,1,4,2,1
20,2001-08-25,Ipswich,Charlton,0,1,3,1,2,2
19,2001-08-25,Fulham,Derby,0,0,4,3,3,4
18,2001-08-25,Everton,Middlesbrough,2,0,3,0,2,5
17,2001-08-25,Blackburn,Tottenham,2,1,3,1,4,1
16,2001-08-25,Arsenal,Leicester,4,0,5,0,2,5
23,2001-08-26,Aston Villa,Man United,1,1,0,5,0,4
24,2001-08-26,Newcastle,Sunderland,1,1,1,1,1,2
25,2001-08-27,Bolton,Liverpool,2,1,6,2,0,1
33,2001-09-08,Sunderland,Blackburn,1,0,2,5,3,5
32,2001-09-08,Middlesbrough,Newcastle,1,4,0,2,7,2
31,2001-09-08,Man United,Everton,4,1,6,5,5,2
30,2001-09-08,Liverpool,Aston Villa,1,3,3,1,3,1
29,2001-09-08,Leicester,Ipswich,1,1,0,3,9,3
28,2001-09-08,Leeds,Bolton,0,0,4,8,1,1
27,2001-09-08,Derby,West Ham,0,0,3,1,4,2
26,2001-09-08,Chelsea,Arsenal,1,1,3,9,1,2
34,2001-09-09,Charlton,Fulham,1,1,2,4,2,3
35,2001-09-09,Tottenham,Southampton,2,0,2,0,3,4
36,2001-09-15,Bolton,Southampton,0,1,8,0,1,6
37,2001-09-15,Derby,Leicester,2,3,3,1,4,10
38,2001-09-15,Everton,Liverpool,1,3,6,4,6,6

In [7]:
# Gets the goals scored agg arranged by teams and matchweek
def get_shoots_on_target(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam'):
        teams[i[0]] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        HST = playing_stat.iloc[i]['HST']
        AST = playing_stat.iloc[i]['AST']
        teams[playing_stat.iloc[i].HomeTeam].append(HST)
        teams[playing_stat.iloc[i].AwayTeam].append(AST)
    
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    shoots_on_goal = pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T
    shoots_on_goal[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,39):
        shoots_on_goal[i] = shoots_on_goal[i] + shoots_on_goal[i-1]
    return shoots_on_goal

def get_shoots(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam'):
        teams[i[0]] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        HS = playing_stat.iloc[i]['HS']
        AS = playing_stat.iloc[i]['AS']
        teams[playing_stat.iloc[i].HomeTeam].append(HS)
        teams[playing_stat.iloc[i].AwayTeam].append(AS)
    
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    shoots = pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T
    shoots[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,39):
        shoots[i] = shoots[i] + shoots[i-1]
    return shoots

def get_gss(playing_stat):
    ST = get_shoots_on_target(playing_stat)
    S = get_shoots(playing_stat)
   
    j = 0
    HST = []
    AST = []
    HS = []
    AS = []
    
    counting = pd.DataFrame(columns = ["Team", "Counting"])
    counting.Team = playing_stat.HomeTeam.sort_values().unique()
    counting.Counting = 0

    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        
        #display(counting.loc[(counting.Team == ht) |  (counting.Team == at)])
        #print(GS.loc[ht][counting.loc[counting.Team == ht, "Counting"].values[0]])
        #print(GS.loc[at][counting.loc[counting.Team == at, "Counting"].values[0]])
        HST.append(ST.loc[ht][counting.loc[counting.Team == ht, "Counting"].values[0]])
        AST.append(ST.loc[at][counting.loc[counting.Team == at, "Counting"].values[0]])
        HS.append(S.loc[ht][counting.loc[counting.Team == ht, "Counting"].values[0]])
        AS.append(S.loc[at][counting.loc[counting.Team == at, "Counting"].values[0]])
        
        counting.loc[counting.Team == ht, "Counting"] += 1
        counting.loc[counting.Team == at, "Counting"] += 1
        if ((i + 1)% 10) == 0:
            j = j + 1
    # HTGS -> Home Team Gols Scored
    # ATGC -> Away Team Gols Conceded
    #print(HTGC)
    playing_stat['HSTA'] = HST
    playing_stat['ASTA'] = AST
    playing_stat['HSA'] = HS
    playing_stat['ASA'] = AS
    print(playing_stat.Date.iloc[-1].year, " OK!")
    return playing_stat

for i, dataset in enumerate(datasets):
    datasets[i] = get_gss(dataset)

print("Finalizou.")

2001  OK!
2002  OK!
2003  OK!
2004  OK!
2005  OK!
2006  OK!
2007  OK!
2008  OK!
2009  OK!
2010  OK!
2011  OK!
2012  OK!
2013  OK!
2014  OK!
2015  OK!
2016  OK!
2017  OK!
2018  OK!
2019  OK!
2020  OK!
2021  OK!
Finalizou.

In [8]:
datasets[1].loc[:38, ["Date","HomeTeam", "AwayTeam","HS", "AS", "HST", "AST", "HSA", "ASA", "HSTA", "ASTA"]].sort_values(by="Date")

,Date,HomeTeam,AwayTeam,HS,AS,HST,AST,HSA,ASA,HSTA,ASTA
0,2001-08-18,Charlton,Everton,8,12,4,9,0,0,0,0
1,2001-08-18,Derby,Blackburn,7,14,3,4,0,0,0,0
2,2001-08-18,Leeds,Southampton,16,11,6,6,0,0,0,0
3,2001-08-18,Leicester,Bolton,6,18,1,8,0,0,0,0
4,2001-08-18,Liverpool,West Ham,9,3,6,3,0,0,0,0
5,2001-08-18,Middlesbrough,Arsenal,6,14,2,9,0,0,0,0
6,2001-08-18,Sunderland,Ipswich,12,10,6,4,0,0,0,0
7,2001-08-18,Tottenham,Aston Villa,8,11,2,2,0,0,0,0
9,2001-08-19,Man United,Fulham,12,8,6,5,0,0,0,0
8,2001-08-19,Chelsea,Newcastle,13,9,8,3,0,0,0,0
10,2001-08-20,Everton,Tottenham,18,7,11,2,12,8,9,2
11,2001-08-21,Arsenal,Leeds,14,5,5,2,14,16,9,6
12,2001-08-21,Bolton,Middlesbrough,13,11,3,4,18,6,8,2
13,2001-08-21,Ipswich,Derby,30,2,18,2,10,7,4,3
14,2001-08-22,Blackburn,Man United,12,18,5,7,14,12,4,6
15,2001-08-22,Fulham,Sunderland,13,8,5,3,8,12,5,6
21,2001-08-25,Southampton,Chelsea,8,7,2,2,11,13,6,8
22,2001-08-25,West Ham,Leeds,11,10,3,4,3,21,3,8
20,2001-08-25,Ipswich,Charlton,17,13,11,6,40,8,22,4
19,2001-08-25,Fulham,Derby,10,9,1,2,21,9,10,5
18,2001-08-25,Everton,Middlesbrough,7,5,5,1,30,17,20,6
17,2001-08-25,Blackburn,Tottenham,12,12,7,5,26,15,9,4
16,2001-08-25,Arsenal,Leicester,20,2,11,0,28,6,14,1
23,2001-08-26,Aston Villa,Man United,11,13,4,7,11,30,2,13
24,2001-08-26,Newcastle,Sunderland,16,6,6,3,9,20,3,9
25,2001-08-27,Bolton,Liverpool,11,18,4,7,31,9,11,6
33,2001-09-08,Sunderland,Blackburn,11,10,4,4,26,38,12,16
32,2001-09-08,Middlesbrough,Newcastle,8,8,4,5,22,25,7,9
31,2001-09-08,Man United,Everton,18,5,9,1,43,37,20,25
30,2001-09-08,Liverpool,Aston Villa,12,10,7,7,27,22,13,6
29,2001-09-08,Leicester,Ipswich,12,13,7,9,8,57,1,33
28,2001-09-08,Leeds,Bolton,11,8,6,4,31,42,12,15
27,2001-09-08,Derby,West Ham,6,10,3,4,18,14,7,6
26,2001-09-08,Chelsea,Arsenal,10,14,5,11,20,48,10,25
34,2001-09-09,Charlton,Fulham,7,16,4,5,21,31,10,11
35,2001-09-09,Tottenham,Southampton,18,15,6,6,27,19,9,8
36,2001-09-15,Bolton,Southampton,4,10,0,6,50,34,19,14
37,2001-09-15,Derby,Leicester,15,12,9,6,24,20,10,8
38,2001-09-15,Everton,Liverpool,11,13,5,9,42,39,26,20

In [9]:
def get_points(result):
    if result == 'W':
        return 3
    elif result == 'D':
        return 1
    else:
        return 0
    

def get_cuml_points(matchres):
    matchres_points = matchres.applymap(get_points)
    for i in range(2,39):
        matchres_points[i] = matchres_points[i] + matchres_points[i-1]
        
    matchres_points.insert(column =0, loc = 0, value = [0*i for i in range(20)])
    return matchres_points


def get_matchres(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam'):
        teams[i[0]] = []
    # the value corresponding to keys is a list containing the match result
    for i in range(len(playing_stat)):
        if playing_stat.iloc[i].FTR == 'H':
            teams[playing_stat.iloc[i].HomeTeam].append('W')
            teams[playing_stat.iloc[i].AwayTeam].append('L')
        elif playing_stat.iloc[i].FTR == 'A':
            teams[playing_stat.iloc[i].AwayTeam].append('W')
            teams[playing_stat.iloc[i].HomeTeam].append('L')
        else:
            teams[playing_stat.iloc[i].AwayTeam].append('D')
            teams[playing_stat.iloc[i].HomeTeam].append('D')
            
    return pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T

def get_agg_points(playing_stat):
    matchres = get_matchres(playing_stat)
    cum_pts = get_cuml_points(matchres)
    HTP = []
    ATP = []
    j = 0
    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        HTP.append(cum_pts.loc[ht][j])
        ATP.append(cum_pts.loc[at][j])

        if ((i + 1)% 10) == 0:
            j = j + 1
            
    playing_stat['HTP'] = HTP
    playing_stat['ATP'] = ATP
    print(playing_stat.Date.iloc[-1].year, " OK!")
    return playing_stat

for i, dataset in enumerate(datasets):
    datasets[i] = get_agg_points(dataset)

print("Finalizou.")

2001  OK!
2002  OK!
2003  OK!
2004  OK!
2005  OK!
2006  OK!
2007  OK!
2008  OK!
2009  OK!
2010  OK!
2011  OK!
2012  OK!
2013  OK!
2014  OK!
2015  OK!
2016  OK!
2017  OK!
2018  OK!
2019  OK!
2020  OK!
2021  OK!
Finalizou.

In [10]:
datasets[15].loc[300:, ["Date","HomeTeam", "AwayTeam","FTR", "HTP", "ATP"]].sort_values(by="Date")

# Aparentemente OK

          Date     HomeTeam     AwayTeam FTR  HTP  ATP
300 2016-03-20    Newcastle   Sunderland   D   25   26
301 2016-03-20  Southampton    Liverpool   H   44   45
302 2016-03-20    Tottenham  Bournemouth   H   58   38
309 2016-04-02   Sunderland    West Brom   D   26   39
308 2016-04-02        Stoke      Swansea   D   43   33
..         ...          ...          ...  ..  ...  ...
372 2016-05-15      Everton      Norwich   H   44   34
371 2016-05-15      Chelsea    Leicester   D   49   80
370 2016-05-15      Arsenal  Aston Villa   H   68   17
373 2016-05-15    Newcastle    Tottenham   H   34   70
379 2016-05-17   Man United  Bournemouth   H   63   42

[80 rows x 6 columns]

In [11]:
def get_form(playing_stat, num):
    form = get_matchres(playing_stat)
    form_final = form.copy()
    for i in range(num,39):
        form_final[i] = ''
        j = 0
        while j < num:
            form_final[i] += form[i-j]
            j += 1           
    return form_final

def add_form(playing_stat, num):
    form = get_form(playing_stat,num)
    h = ['M' for i in range(num * 10)]  # since form is not available for n MW (n*10)
    a = ['M' for i in range(num * 10)]
    
    j = num
    for i in range((num*10),380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        
        past = form.loc[ht][j]               # get past n results
        h.append(past[num-1])                    # 0 index is most recent
        
        past = form.loc[at][j]               # get past n results.
        a.append(past[num-1])                   # 0 index is most recent
        
        if ((i + 1)% 10) == 0:
            j = j + 1

    playing_stat['HM' + str(num)] = h                 
    playing_stat['AM' + str(num)] = a

    
    return playing_stat


def add_form_df(playing_statistics):
    playing_statistics = add_form(playing_statistics,1)
    playing_statistics = add_form(playing_statistics,2)
    playing_statistics = add_form(playing_statistics,3)
    playing_statistics = add_form(playing_statistics,4)
    playing_statistics = add_form(playing_statistics,5)
    print(playing_statistics.Date.iloc[-1].year, " OK!")
    return playing_statistics   


for i, dataset in enumerate(datasets):
    datasets[i] = add_form_df(dataset)

print("Finalizou.")

2001  OK!
2002  OK!
2003  OK!
2004  OK!
2005  OK!
2006  OK!
2007  OK!
2008  OK!
2009  OK!
2010  OK!
2011  OK!
2012  OK!
2013  OK!
2014  OK!
2015  OK!
2016  OK!
2017  OK!
2018  OK!
2019  OK!
2020  OK!
2021  OK!
Finalizou.

In [12]:
datasets[15].loc[:38, ["Date","HomeTeam", "AwayTeam","FTR",
                        "HM1", "HM2", "HM3", "HM4", "HM5",
                        "AM1", "AM2", "AM3", "AM4", "AM5",]].sort_values(by="Date")

,Date,HomeTeam,AwayTeam,FTR,HM1,HM2,HM3,HM4,HM5,AM1,AM2,AM3,AM4,AM5
0,2015-08-08,Bournemouth,Aston Villa,A,M,M,M,M,M,M,M,M,M,M
1,2015-08-08,Chelsea,Swansea,D,M,M,M,M,M,M,M,M,M,M
2,2015-08-08,Everton,Watford,D,M,M,M,M,M,M,M,M,M,M
3,2015-08-08,Leicester,Sunderland,H,M,M,M,M,M,M,M,M,M,M
4,2015-08-08,Man United,Tottenham,H,M,M,M,M,M,M,M,M,M,M
5,2015-08-08,Norwich,Crystal Palace,A,M,M,M,M,M,M,M,M,M,M
6,2015-08-09,Arsenal,West Ham,A,M,M,M,M,M,M,M,M,M,M
7,2015-08-09,Newcastle,Southampton,D,M,M,M,M,M,M,M,M,M,M
8,2015-08-09,Stoke,Liverpool,A,M,M,M,M,M,M,M,M,M,M
9,2015-08-10,West Brom,Man City,A,M,M,M,M,M,M,M,M,M,M
10,2015-08-14,Aston Villa,Man United,A,W,M,M,M,M,W,M,M,M,M
11,2015-08-15,Southampton,Everton,A,D,M,M,M,M,D,M,M,M,M
12,2015-08-15,Sunderland,Norwich,A,L,M,M,M,M,L,M,M,M,M
13,2015-08-15,Swansea,Newcastle,H,D,M,M,M,M,D,M,M,M,M
14,2015-08-15,Tottenham,Stoke,D,L,M,M,M,M,L,M,M,M,M
15,2015-08-15,Watford,West Brom,D,D,M,M,M,M,L,M,M,M,M
16,2015-08-15,West Ham,Leicester,A,W,M,M,M,M,W,M,M,M,M
17,2015-08-16,Crystal Palace,Arsenal,A,W,M,M,M,M,L,M,M,M,M
18,2015-08-16,Man City,Chelsea,H,W,M,M,M,M,D,M,M,M,M
19,2015-08-17,Liverpool,Bournemouth,H,W,M,M,M,M,L,M,M,M,M
20,2015-08-22,Crystal Palace,Aston Villa,H,L,W,M,M,M,L,W,M,M,M
21,2015-08-22,Leicester,Tottenham,D,W,W,M,M,M,D,L,M,M,M
22,2015-08-22,Man United,Newcastle,D,W,W,M,M,M,L,D,M,M,M
23,2015-08-22,Norwich,Stoke,D,W,L,M,M,M,D,L,M,M,M
24,2015-08-22,Sunderland,Swansea,D,L,L,M,M,M,W,D,M,M,M
25,2015-08-22,West Ham,Bournemouth,A,L,W,M,M,M,L,L,M,M,M
26,2015-08-23,Everton,Man City,A,W,D,M,M,M,W,W,M,M,M
27,2015-08-23,Watford,Southampton,D,D,D,M,M,M,L,D,M,M,M
28,2015-08-23,West Brom,Chelsea,A,D,L,M,M,M,L,D,M,M,M
29,2015-08-24,Arsenal,Liverpool,D,W,L,M,M,M,W,W,M,M,M
30,2015-08-29,Aston Villa,Sunderland,D,L,L,W,M,M,D,L,L,M,M
31,2015-08-29,Bournemouth,Leicester,D,W,L,L,M,M,D,W,W,M,M
32,2015-08-29,Chelsea,Crystal Palace,A,W,L,D,M,M,W,L,W,M,M
33,2015-08-29,Liverpool,West Ham,A,D,W,W,M,M,L,L,W,M,M
34,2015-08-29,Man City,Watford,H,W,W,W,M,M,D,D,D,M,M
35,2015-08-29,Newcastle,Arsenal,A,D,L,D,M,M,D,W,L,M,M
36,2015-08-29,Stoke,West Brom,A,D,D,L,M,M,L,D,L,M,M
37,2015-08-29,Tottenham,Everton,D,D,D,L,M,M,L,W,D,M,M
38,2015-08-30,Southampton,Norwich,H,D,L,D,M,M,D,W,L,M,M

In [13]:
cols = ['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTGS', 'ATGS', 'HTGC', 'ATGC', 'HTP', 'ATP', 'HM1', 'HM2', 'HM3',
        'HM4', 'HM5', 'AM1', 'AM2', 'AM3', 'AM4', 'AM5' , "HSA", "ASA", "HSTA", "ASTA"]

for i, dataset in enumerate(datasets):
    datasets[i] = dataset[cols]
    
print("Terminou.")

Terminou.

In [14]:
datasets[16].loc[:38, ["Date","HomeTeam", "AwayTeam","FTR",
                        "HM1", "HM2", "HM3", "HM4", "HM5",
                        "AM1", "AM2", "AM3", "AM4", "AM5",]].sort_values(by="Date")
datasets[20].columns.tolist()

['Date',
 'HomeTeam',
 'AwayTeam',
 'FTHG',
 'FTAG',
 'FTR',
 'HTGS',
 'ATGS',
 'HTGC',
 'ATGC',
 'HTP',
 'ATP',
 'HM1',
 'HM2',
 'HM3',
 'HM4',
 'HM5',
 'AM1',
 'AM2',
 'AM3',
 'AM4',
 'AM5',
 'HSA',
 'ASA',
 'HSTA',
 'ASTA']

In [15]:
def correct_name(playing_stat):
    playing_stat.HomeTeam = playing_stat.HomeTeam.replace({"Middlesboro": "Middlesbrough",
                                                           "Brighton": "Brighton & Hove Albion",
                                                           "Huddersfield": "Huddersfield Town"})
    playing_stat.AwayTeam = playing_stat.AwayTeam.replace({"Middlesboro": "Middlesbrough",
                                                           "Brighton": "Brighton & Hove Albion",
                                                           "Huddersfield": "Huddersfield Town"})

for dataset in datasets:
    dataset = correct_name(dataset)

In [16]:
standings = pd.read_csv(loc + "EPLStandindsFinal.csv")
standings.set_index(['Team'], inplace=True)
standings = standings.fillna(18) # Bota no 18 como o primeiro da lanterna, se o time subiu ele t melhor q o 18, 
                                 # pelo menos, poderia botar 30 ou 21, mas talvez 18 se saia bem

def get_last(playing_stat, standings, year):
    HomeTeamLP = []
    AwayTeamLP = []
    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        HomeTeamLP.append(standings.loc[ht][year])
        AwayTeamLP.append(standings.loc[at][year])
    playing_stat['HomeTeamLP'] = HomeTeamLP
    playing_stat['AwayTeamLP'] = AwayTeamLP
    print(playing_stat.Date.iloc[-1].year, " OK!")

    return playing_stat

for dataset in datasets:
    dataset = get_last(dataset, standings, dataset.Date.iloc[-1].year - 2001)

print("Finalizou.")

2001  OK!
2002  OK!
2003  OK!
2004  OK!
2005  OK!
2006  OK!
2007  OK!
2008  OK!
2009  OK!
2010  OK!
2011  OK!
2012  OK!
2013  OK!
2014  OK!
2015  OK!
2016  OK!
2017  OK!
2018  OK!
2019  OK!
2020  OK!
2021  OK!
Finalizou.

In [17]:
standings.loc[(standings.index == "Coventry")] # Vamos apenas at a liga de 2021, ou seja s usamos at 2020

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
Team,,,,,,,,,,,,,,,,,,,,,
Coventry,14.0,19.0,18.0,18.0,18.0,18.0,18.0,18.0,18.0,18.0,...,18.0,18.0,18.0,18.0,18.0,18.0,18.0,18.0,18.0,18.0

In [18]:
datasets[0].loc[:38, ["Date","HomeTeam", "AwayTeam","FTR",'HomeTeamLP','AwayTeamLP']].sort_values(by="Date")

         Date       HomeTeam       AwayTeam FTR  HomeTeamLP  AwayTeamLP
0  2000-08-19       Charlton       Man City   H        18.0        18.0
1  2000-08-19        Chelsea       West Ham   H         5.0         9.0
2  2000-08-19       Coventry  Middlesbrough   A        14.0        12.0
3  2000-08-19          Derby    Southampton   D        16.0        15.0
4  2000-08-19          Leeds        Everton   H         3.0        13.0
5  2000-08-19      Leicester    Aston Villa   D         8.0         6.0
6  2000-08-19      Liverpool       Bradford   H         4.0        17.0
7  2000-08-19     Sunderland        Arsenal   H         7.0         2.0
8  2000-08-19      Tottenham        Ipswich   H        10.0        18.0
9  2000-08-20     Man United      Newcastle   H         1.0        11.0
10 2000-08-21        Arsenal      Liverpool   H         2.0         4.0
13 2000-08-22  Middlesbrough      Tottenham   D        12.0        10.0
11 2000-08-22       Bradford        Chelsea   H        17.0         5.0
12 2000-08-22        Ipswich     Man United   D        18.0         1.0
14 2000-08-23        Everton       Charlton   H        13.0        18.0
15 2000-08-23       Man City     Sunderland   H        18.0         7.0
16 2000-08-23      Newcastle          Derby   H        11.0        16.0
17 2000-08-23    Southampton       Coventry   A        15.0        14.0
18 2000-08-23       West Ham      Leicester   A         9.0         8.0
25 2000-08-26      Newcastle      Tottenham   H        11.0        10.0
27 2000-08-26       West Ham     Man United   D         9.0         1.0
26 2000-08-26    Southampton      Liverpool   D        15.0         4.0
24 2000-08-26  Middlesbrough          Leeds   A        12.0         3.0
19 2000-08-26        Arsenal       Charlton   H         2.0        18.0
22 2000-08-26        Ipswich     Sunderland   H        18.0         7.0
21 2000-08-26        Everton          Derby   D        13.0        16.0
20 2000-08-26       Bradford      Leicester   D        17.0         8.0
23 2000-08-26       Man City       Coventry   A        18.0        14.0
28 2000-08-27    Aston Villa        Chelsea   D         6.0         5.0
29 2000-09-05          Leeds       Man City   A         3.0        18.0
30 2000-09-05     Man United       Bradford   H         1.0        17.0
31 2000-09-05     Sunderland       West Ham   D         7.0         9.0
32 2000-09-05      Tottenham        Everton   H        10.0        13.0
37 2000-09-06      Leicester        Ipswich   H         8.0        18.0
33 2000-09-06       Charlton    Southampton   D        18.0        15.0
34 2000-09-06        Chelsea        Arsenal   D         5.0         2.0
35 2000-09-06       Coventry      Newcastle   A        14.0        11.0
36 2000-09-06          Derby  Middlesbrough   D        16.0        12.0
38 2000-09-06      Liverpool    Aston Villa   H         4.0         6.0

In [19]:
def get_mw(playing_stat):
    j = 1
    MatchWeek = []
    for i in range(380):
        MatchWeek.append(j)
        if ((i + 1)% 10) == 0:
            j = j + 1
    playing_stat['MW'] = MatchWeek
    print(playing_stat.Date.iloc[-1].year, " OK!")
    return playing_stat

for dataset in datasets:
    dataset = get_mw(dataset)

2001  OK!
2002  OK!
2003  OK!
2004  OK!
2005  OK!
2006  OK!
2007  OK!
2008  OK!
2009  OK!
2010  OK!
2011  OK!
2012  OK!
2013  OK!
2014  OK!
2015  OK!
2016  OK!
2017  OK!
2018  OK!
2019  OK!
2020  OK!
2021  OK!

In [20]:
datasets[1].loc[:38, ["Date","HomeTeam", "AwayTeam","FTR",'HomeTeamLP','AwayTeamLP', "MW"]].sort_values(by="Date")

         Date       HomeTeam       AwayTeam FTR  HomeTeamLP  AwayTeamLP  MW
0  2001-08-18       Charlton        Everton   A         9.0        16.0   1
1  2001-08-18          Derby      Blackburn   H        17.0        18.0   1
2  2001-08-18          Leeds    Southampton   H         4.0        10.0   1
3  2001-08-18      Leicester         Bolton   A        13.0        18.0   1
4  2001-08-18      Liverpool       West Ham   H         3.0        15.0   1
5  2001-08-18  Middlesbrough        Arsenal   A        14.0         2.0   1
6  2001-08-18     Sunderland        Ipswich   H         7.0         5.0   1
7  2001-08-18      Tottenham    Aston Villa   D        12.0         8.0   1
9  2001-08-19     Man United         Fulham   H         1.0        18.0   1
8  2001-08-19        Chelsea      Newcastle   D         6.0        11.0   1
10 2001-08-20        Everton      Tottenham   D        16.0        12.0   2
11 2001-08-21        Arsenal          Leeds   A         2.0         4.0   2
12 2001-08-21         Bolton  Middlesbrough   H        18.0        14.0   2
13 2001-08-21        Ipswich          Derby   H         5.0        17.0   2
14 2001-08-22      Blackburn     Man United   D        18.0         1.0   2
15 2001-08-22         Fulham     Sunderland   H        18.0         7.0   2
21 2001-08-25    Southampton        Chelsea   A        10.0         6.0   3
22 2001-08-25       West Ham          Leeds   D        15.0         4.0   3
20 2001-08-25        Ipswich       Charlton   A         5.0         9.0   3
19 2001-08-25         Fulham          Derby   D        18.0        17.0   2
18 2001-08-25        Everton  Middlesbrough   H        16.0        14.0   2
17 2001-08-25      Blackburn      Tottenham   H        18.0        12.0   2
16 2001-08-25        Arsenal      Leicester   H         2.0        13.0   2
23 2001-08-26    Aston Villa     Man United   D         8.0         1.0   3
24 2001-08-26      Newcastle     Sunderland   D        11.0         7.0   3
25 2001-08-27         Bolton      Liverpool   H        18.0         3.0   3
33 2001-09-08     Sunderland      Blackburn   H         7.0        18.0   4
32 2001-09-08  Middlesbrough      Newcastle   A        14.0        11.0   4
31 2001-09-08     Man United        Everton   H         1.0        16.0   4
30 2001-09-08      Liverpool    Aston Villa   A         3.0         8.0   4
29 2001-09-08      Leicester        Ipswich   D        13.0         5.0   3
28 2001-09-08          Leeds         Bolton   D         4.0        18.0   3
27 2001-09-08          Derby       West Ham   D        17.0        15.0   3
26 2001-09-08        Chelsea        Arsenal   D         6.0         2.0   3
34 2001-09-09       Charlton         Fulham   D         9.0        18.0   4
35 2001-09-09      Tottenham    Southampton   H        12.0        10.0   4
36 2001-09-15         Bolton    Southampton   A        18.0        10.0   4
37 2001-09-15          Derby      Leicester   A        17.0        13.0   4
38 2001-09-15        Everton      Liverpool   A        16.0         3.0   4

In [21]:
final_dataset = pd.concat(datasets)

final_dataset.reset_index(drop=True, inplace=True)

In [22]:
def get_form_points(string):
    sum = 0
    for letter in string:
        sum += get_points(letter)
    return sum

In [23]:
final_dataset['HTFormPtsStr'] = final_dataset['HM1'] + final_dataset['HM2'] + final_dataset['HM3'] + final_dataset['HM4'] + final_dataset['HM5']
final_dataset['ATFormPtsStr'] = final_dataset['AM1'] + final_dataset['AM2'] + final_dataset['AM3'] + final_dataset['AM4'] + final_dataset['AM5']

final_dataset['HTFormPtsStr3'] = final_dataset['HM1'] + final_dataset['HM2'] + final_dataset['HM3']
final_dataset['ATFormPtsStr3'] = final_dataset['AM1'] + final_dataset['AM2'] + final_dataset['AM3']

data = final_dataset

final_dataset['HTFormPts'] = final_dataset['HTFormPtsStr'].apply(get_form_points)
final_dataset['ATFormPts'] = final_dataset['ATFormPtsStr'].apply(get_form_points)

final_dataset['HTFormPts3'] = final_dataset['HTFormPtsStr3'].apply(get_form_points)
final_dataset['ATFormPts3'] = final_dataset['ATFormPtsStr3'].apply(get_form_points)

In [24]:
# Identify Win/Loss Streaks if any.
def get_3game_ws(string):
    if string[:3] == 'WWW':
        return 1
    else:
        return 0
    
def get_5game_ws(string):
    if string == 'WWWWW':
        return 1
    else:
        return 0
    
def get_3game_ls(string):
    if string[:3] == 'LLL':
        return 1
    else:
        return 0
    
def get_5game_ls(string):
    if string == 'LLLLL':
        return 1
    else:
        return 0
    
final_dataset['HTWinStreak3'] = final_dataset['HTFormPtsStr'].apply(get_3game_ws)
final_dataset['HTWinStreak5'] = final_dataset['HTFormPtsStr'].apply(get_5game_ws)
final_dataset['HTLossStreak3'] = final_dataset['HTFormPtsStr'].apply(get_3game_ls)
final_dataset['HTLossStreak5'] = final_dataset['HTFormPtsStr'].apply(get_5game_ls)

final_dataset['ATWinStreak3'] = final_dataset['ATFormPtsStr'].apply(get_3game_ws)
final_dataset['ATWinStreak5'] = final_dataset['ATFormPtsStr'].apply(get_5game_ws)
final_dataset['ATLossStreak3'] = final_dataset['ATFormPtsStr'].apply(get_3game_ls)
final_dataset['ATLossStreak5'] = final_dataset['ATFormPtsStr'].apply(get_5game_ls)

In [25]:
# Get Goal Difference
final_dataset['HTGD'] = final_dataset['HTGS'] - final_dataset['HTGC']
final_dataset['ATGD'] = final_dataset['ATGS'] - final_dataset['ATGC']

# Diff in points
final_dataset['DiffPts'] = final_dataset['HTP'] - final_dataset['ATP']
final_dataset['DiffFormPts'] = final_dataset['HTFormPts'] - final_dataset['ATFormPts']
final_dataset['DiffFormPts3'] = final_dataset['HTFormPts3'] - final_dataset['ATFormPts3']

# Diff in last year positions
final_dataset['DiffLP'] = final_dataset['HomeTeamLP'] - final_dataset['AwayTeamLP']

In [26]:
# Scale DiffPts , DiffFormPts, HTGD, ATGD by Matchweek.
cols = ['HTGD','ATGD','HTP','ATP', "DiffPts"] 
# Tirei o 'DiffPts','DiffFormPts' da Lista por Sugesto do Gui
# FormPts so os das ultimas 5 partidas, DiffPts  o total
final_dataset.MW = final_dataset.MW.astype(float)

for col in cols:
    final_dataset[col] = final_dataset[col] / final_dataset.MW

In [27]:
# No chequei as Differences, mas o resto sim, aparentemente tudo OK!
final_dataset.to_csv(loc + "premier_league2001-2021.csv", index = False)

final_dataset

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC,...,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffFormPts3,DiffLP
0,2000-08-19,Charlton,Man City,4,0,H,0,0,0,0,...,0,0,0,0,0.000000,0.000000,0.000000,0,0,0.0
1,2000-08-19,Chelsea,West Ham,4,2,H,0,0,0,0,...,0,0,0,0,0.000000,0.000000,0.000000,0,0,-4.0
2,2000-08-19,Coventry,Middlesbrough,1,3,A,0,0,0,0,...,0,0,0,0,0.000000,0.000000,0.000000,0,0,2.0
3,2000-08-19,Derby,Southampton,2,2,D,0,0,0,0,...,0,0,0,0,0.000000,0.000000,0.000000,0,0,1.0
4,2000-08-19,Leeds,Everton,2,0,H,0,0,0,0,...,0,0,0,0,0.000000,0.000000,0.000000,0,0,-10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7975,2021-05-23,Liverpool,Crystal Palace,2,0,H,66,41,42,64,...,0,0,0,0,0.631579,-0.605263,0.578947,7,6,-13.0
7976,2021-05-23,Man City,Everton,5,0,H,78,47,32,43,...,0,0,0,0,1.210526,0.105263,0.631579,2,-1,-10.0
7977,2021-05-23,Sheffield United,Burnley,1,0,H,19,33,63,54,...,0,0,0,0,-1.157895,-0.552632,-0.500000,0,0,-1.0
7978,2021-05-23,West Ham,Southampton,3,0,H,59,47,47,65,...,0,0,0,0,0.315789,-0.473684,0.500000,0,-2,5.0
7979,2021-05-23,Wolves,Man United,1,2,A,35,71,50,43,...,0,0,0,0,-0.394737,0.736842,-0.684211,-1,2,4.0